body {
    background-color: #CEEDC7;
}

h1 {
    color: red;
}

p {
    color: grey;  
}

/*
img {
    background-color: red;
}
*/
.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}