body {
    background-color: #CEEDC7;
}

h1 {
    color: red;
}

p {
    color: grey;  
}


img:hover {
    background-color: silver;
}

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: aliceblue;
}